## Fehler beheben mit Pandas

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("Data/PopulationData.csv", delimiter=";", thousands=",", decimal=".", index_col="#")

In [3]:
df

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
5,Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...
231,Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
232,Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
233,Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
234,Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
235,Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, 1 to 235
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country (or dependency)  235 non-null    object
 1   Population(2020)         235 non-null    int64
 2   YearlyChange             235 non-null    object
 3   NetChange                235 non-null    int64
 4   Density(P/Km²)           235 non-null    int64
 5   Land Area(Km²)           235 non-null    int64
 6   Migrants(net)            201 non-null    float64
 7   Fert.Rate                235 non-null    object
 8   Med.Age                  235 non-null    object
 9   UrbanPop %               235 non-null    object
 10  WorldShare               235 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 22.0+ KB

### Methoden

pd.isnull(), pd.notnull()

In [5]:
pd.isnull(df)

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
231,False,False,False,False,False,False,True,False,False,False,False
232,False,False,False,False,False,False,True,False,False,False,False
233,False,False,False,False,False,False,True,False,False,False,False
234,False,False,False,False,False,False,True,False,False,False,False
235,False,False,False,False,False,False,True,False,False,False,False

In [6]:
pd.notnull(df)

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
1,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True
5,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...
231,True,True,True,True,True,True,False,True,True,True,True
232,True,True,True,True,True,True,False,True,True,True,True
233,True,True,True,True,True,True,False,True,True,True,True
234,True,True,True,True,True,True,False,True,True,True,True
235,True,True,True,True,True,True,False,True,True,True,True

In [7]:
df[df["Migrants(net)"].isnull()]

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
202,Isle of Man,85033,0.53 %,449,149,570,NaN,N.A.,N.A.,53 %,0.00 %
203,Andorra,77265,0.16 %,123,164,470,NaN,N.A.,N.A.,88 %,0.00 %
204,Dominica,71986,0.25 %,178,96,750,NaN,N.A.,N.A.,74 %,0.00 %
205,Cayman Islands,65722,1.19 %,774,274,240,NaN,N.A.,N.A.,97 %,0.00 %
206,Bermuda,62278,-0.36 %,-228,1246,50,NaN,N.A.,N.A.,97 %,0.00 %
207,Marshall Islands,59190,0.68 %,399,329,180,NaN,N.A.,N.A.,70 %,0.00 %
208,Northern Mariana Islands,57559,0.60 %,343,125,460,NaN,N.A.,N.A.,88 %,0.00 %
209,Greenland,56770,0.17 %,98,0,410450,NaN,N.A.,N.A.,87 %,0.00 %
210,American Samoa,55191,-0.22 %,-121,276,200,NaN,N.A.,N.A.,88 %,0.00 %
211,Saint Kitts & Nevis,53199,0.71 %,376,205,260,NaN,N.A.,N.A.,33 %,0.00 %
212,Faeroe Islands,48863,0.38 %,185,35,1396,NaN,N.A.,N.A.,43 %,0.00 %
213,Sint Maarten,42876,1.15 %,488,1261,34,NaN,N.A.,N.A.,96 %,0.00 %
214,Monaco,39242,0.71 %,278,26337,1,NaN,N.A.,N.A.,N.A.,0.00 %
215,Turks and Caicos,38717,1.38 %,526,41,950,NaN,N.A.,N.A.,89 %,0.00 %
216,Saint Martin,38666,1.75 %,664,730,53,NaN,N.A.,N.A.,0 %,0.00 %
217,Liechtenstein,38128,0.29 %,109,238,160,NaN,N.A.,N.A.,15 %,0.00 %
218,San Marino,33931,0.21 %,71,566,60,NaN,N.A.,N.A.,97 %,0.00 %
219,Gibraltar,33691,-0.03 %,-10,3369,10,NaN,N.A.,N.A.,N.A.,0.00 %
220,British Virgin Islands,30231,0.67 %,201,202,150,NaN,N.A.,N.A.,52 %,0.00 %
221,Caribbean Netherlands,26223,0.94 %,244,80,328,NaN,N.A.,N.A.,75 %,0.00 %
222,Palau,18094,0.48 %,86,39,460,NaN,N.A.,N.A.,N.A.,0.00 %
223,Cook Islands,17564,0.09 %,16,73,240,NaN,N.A.,N.A.,75 %,0.00 %
224,Anguilla,15003,0.90 %,134,167,90,NaN,N.A.,N.A.,N.A.,0.00 %
225,Tuvalu,11792,1.25 %,146,393,30,NaN,N.A.,N.A.,62 %,0.00 %
226,Wallis & Futuna,11239,-1.69 %,-193,80,140,NaN,N.A.,N.A.,0 %,0.00 %
227,Nauru,10824,0.63 %,68,541,20,NaN,N.A.,N.A.,N.A.,0.00 %
228,Saint Barthelemy,9877,0.30 %,30,470,21,NaN,N.A.,N.A.,0 %,0.00 %
229,Saint Helena,6077,0.30 %,18,16,390,NaN,N.A.,N.A.,27 %,0.00 %
230,Saint Pierre & Miquelon,5794,-0.48 %,-28,25,230,NaN,N.A.,N.A.,100 %,0.00 %
231,Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
232,Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
233,Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
234,Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
235,Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

df.dropna()

In [8]:
df.dropna()

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
5,Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...
197,Aruba,106766,0.43 %,452,593,180,201.0,1.9,41,44 %,0.00 %
198,Tonga,105695,1.15 %,1201,147,720,-800.0,3.6,22,24 %,0.00 %
199,U.S. Virgin Islands,104425,-0.15 %,-153,298,350,-451.0,2.0,43,96 %,0.00 %
200,Seychelles,98347,0.62 %,608,214,460,-200.0,2.5,34,56 %,0.00 %
201,Antigua and Barbuda,97929,0.84 %,811,223,440,0.0,2.0,34,26 %,0.00 %

In [9]:
df.dropna(axis=1)

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,
1,China,1439323776,0.39 %,5540090,153,9388211,1.7,38,61 %,18.47 %
2,India,1380004385,0.99 %,13586631,464,2973190,2.2,28,35 %,17.70 %
3,United States,331002651,0.59 %,1937734,36,9147420,1.8,38,83 %,4.25 %
4,Indonesia,273523615,1.07 %,2898047,151,1811570,2.3,30,56 %,3.51 %
5,Pakistan,220892340,2.00 %,4327022,287,770880,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
231,Montserrat,4992,0.06 %,3,50,100,N.A.,N.A.,10 %,0.00 %
232,Falkland Islands,3480,3.05 %,103,0,12170,N.A.,N.A.,66 %,0.00 %
233,Niue,1626,0.68 %,11,6,260,N.A.,N.A.,46 %,0.00 %
234,Tokelau,1357,1.27 %,17,136,10,N.A.,N.A.,0 %,0.00 %
235,Vatican State,801,0.25 %,2,2003,0,N.A.,N.A.,N.A.,0.00 %

In [10]:
df["Migrants(net)"] = df["Migrants(net)"].fillna(0)

In [11]:
df

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
5,Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...
231,Montserrat,4992,0.06 %,3,50,100,0.0,N.A.,N.A.,10 %,0.00 %
232,Falkland Islands,3480,3.05 %,103,0,12170,0.0,N.A.,N.A.,66 %,0.00 %
233,Niue,1626,0.68 %,11,6,260,0.0,N.A.,N.A.,46 %,0.00 %
234,Tokelau,1357,1.27 %,17,136,10,0.0,N.A.,N.A.,0 %,0.00 %
235,Vatican State,801,0.25 %,2,2003,0,0.0,N.A.,N.A.,N.A.,0.00 %

## Andere Fehler ersetzen

z.B. Prozente, N.A.

In [12]:
df["Fert.Rate"] == "N.A."

#
1      False
2      False
3      False
4      False
5      False
       ...
231     True
232     True
233     True
234     True
235     True
Name: Fert.Rate, Length: 235, dtype: bool

In [13]:
df[df["Fert.Rate"] == "N.A."]

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
202,Isle of Man,85033,0.53 %,449,149,570,0.0,N.A.,N.A.,53 %,0.00 %
203,Andorra,77265,0.16 %,123,164,470,0.0,N.A.,N.A.,88 %,0.00 %
204,Dominica,71986,0.25 %,178,96,750,0.0,N.A.,N.A.,74 %,0.00 %
205,Cayman Islands,65722,1.19 %,774,274,240,0.0,N.A.,N.A.,97 %,0.00 %
206,Bermuda,62278,-0.36 %,-228,1246,50,0.0,N.A.,N.A.,97 %,0.00 %
207,Marshall Islands,59190,0.68 %,399,329,180,0.0,N.A.,N.A.,70 %,0.00 %
208,Northern Mariana Islands,57559,0.60 %,343,125,460,0.0,N.A.,N.A.,88 %,0.00 %
209,Greenland,56770,0.17 %,98,0,410450,0.0,N.A.,N.A.,87 %,0.00 %
210,American Samoa,55191,-0.22 %,-121,276,200,0.0,N.A.,N.A.,88 %,0.00 %
211,Saint Kitts & Nevis,53199,0.71 %,376,205,260,0.0,N.A.,N.A.,33 %,0.00 %
212,Faeroe Islands,48863,0.38 %,185,35,1396,0.0,N.A.,N.A.,43 %,0.00 %
213,Sint Maarten,42876,1.15 %,488,1261,34,0.0,N.A.,N.A.,96 %,0.00 %
214,Monaco,39242,0.71 %,278,26337,1,0.0,N.A.,N.A.,N.A.,0.00 %
215,Turks and Caicos,38717,1.38 %,526,41,950,0.0,N.A.,N.A.,89 %,0.00 %
216,Saint Martin,38666,1.75 %,664,730,53,0.0,N.A.,N.A.,0 %,0.00 %
217,Liechtenstein,38128,0.29 %,109,238,160,0.0,N.A.,N.A.,15 %,0.00 %
218,San Marino,33931,0.21 %,71,566,60,0.0,N.A.,N.A.,97 %,0.00 %
219,Gibraltar,33691,-0.03 %,-10,3369,10,0.0,N.A.,N.A.,N.A.,0.00 %
220,British Virgin Islands,30231,0.67 %,201,202,150,0.0,N.A.,N.A.,52 %,0.00 %
221,Caribbean Netherlands,26223,0.94 %,244,80,328,0.0,N.A.,N.A.,75 %,0.00 %
222,Palau,18094,0.48 %,86,39,460,0.0,N.A.,N.A.,N.A.,0.00 %
223,Cook Islands,17564,0.09 %,16,73,240,0.0,N.A.,N.A.,75 %,0.00 %
224,Anguilla,15003,0.90 %,134,167,90,0.0,N.A.,N.A.,N.A.,0.00 %
225,Tuvalu,11792,1.25 %,146,393,30,0.0,N.A.,N.A.,62 %,0.00 %
226,Wallis & Futuna,11239,-1.69 %,-193,80,140,0.0,N.A.,N.A.,0 %,0.00 %
227,Nauru,10824,0.63 %,68,541,20,0.0,N.A.,N.A.,N.A.,0.00 %
228,Saint Barthelemy,9877,0.30 %,30,470,21,0.0,N.A.,N.A.,0 %,0.00 %
229,Saint Helena,6077,0.30 %,18,16,390,0.0,N.A.,N.A.,27 %,0.00 %
230,Saint Pierre & Miquelon,5794,-0.48 %,-28,25,230,0.0,N.A.,N.A.,100 %,0.00 %
231,Montserrat,4992,0.06 %,3,50,100,0.0,N.A.,N.A.,10 %,0.00 %
232,Falkland Islands,3480,3.05 %,103,0,12170,0.0,N.A.,N.A.,66 %,0.00 %
233,Niue,1626,0.68 %,11,6,260,0.0,N.A.,N.A.,46 %,0.00 %
234,Tokelau,1357,1.27 %,17,136,10,0.0,N.A.,N.A.,0 %,0.00 %
235,Vatican State,801,0.25 %,2,2003,0,0.0,N.A.,N.A.,N.A.,0.00 %

In [14]:
df.loc[df["Fert.Rate"] == "N.A.", "Fert.Rate"] = 0

In [15]:
df

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
5,Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...
231,Montserrat,4992,0.06 %,3,50,100,0.0,0,N.A.,10 %,0.00 %
232,Falkland Islands,3480,3.05 %,103,0,12170,0.0,0,N.A.,66 %,0.00 %
233,Niue,1626,0.68 %,11,6,260,0.0,0,N.A.,46 %,0.00 %
234,Tokelau,1357,1.27 %,17,136,10,0.0,0,N.A.,0 %,0.00 %
235,Vatican State,801,0.25 %,2,2003,0,0.0,0,N.A.,N.A.,0.00 %

In [16]:
df.loc[df["Med.Age"] == "N.A.", "Med.Age"] = 0

In [17]:
df

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
5,Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...
231,Montserrat,4992,0.06 %,3,50,100,0.0,0,0,10 %,0.00 %
232,Falkland Islands,3480,3.05 %,103,0,12170,0.0,0,0,66 %,0.00 %
233,Niue,1626,0.68 %,11,6,260,0.0,0,0,46 %,0.00 %
234,Tokelau,1357,1.27 %,17,136,10,0.0,0,0,0 %,0.00 %
235,Vatican State,801,0.25 %,2,2003,0,0.0,0,0,N.A.,0.00 %

In [18]:
def fixNA(df, column, newValue):
    df.loc[df[column] == "N.A.", column] = newValue

In [19]:
fixNA(df, "UrbanPop %", 0)

In [20]:
df

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
5,Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...
231,Montserrat,4992,0.06 %,3,50,100,0.0,0,0,10 %,0.00 %
232,Falkland Islands,3480,3.05 %,103,0,12170,0.0,0,0,66 %,0.00 %
233,Niue,1626,0.68 %,11,6,260,0.0,0,0,46 %,0.00 %
234,Tokelau,1357,1.27 %,17,136,10,0.0,0,0,0 %,0.00 %
235,Vatican State,801,0.25 %,2,2003,0,0.0,0,0,0,0.00 %

In [21]:
df["YearlyChange"] = df["YearlyChange"].replace(" %", "", regex=True)

In [22]:
df

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
1,China,1439323776,0.39,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
2,India,1380004385,0.99,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
3,United States,331002651,0.59,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
4,Indonesia,273523615,1.07,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
5,Pakistan,220892340,2.00,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...
231,Montserrat,4992,0.06,3,50,100,0.0,0,0,10 %,0.00 %
232,Falkland Islands,3480,3.05,103,0,12170,0.0,0,0,66 %,0.00 %
233,Niue,1626,0.68,11,6,260,0.0,0,0,46 %,0.00 %
234,Tokelau,1357,1.27,17,136,10,0.0,0,0,0 %,0.00 %
235,Vatican State,801,0.25,2,2003,0,0.0,0,0,0,0.00 %

In [23]:
def fixPct(df, column, newValue):
    df[column].replace(" %", newValue, regex=True, inplace=True)

In [24]:
fixPct(df, "UrbanPop %", "")

C:\Users\lk3\AppData\Local\Temp\ipykernel_14068\2892103432.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].replace(" %", newValue, regex=True, inplace=True)

In [25]:
fixPct(df, "WorldShare", "")

C:\Users\lk3\AppData\Local\Temp\ipykernel_14068\2892103432.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].replace(" %", newValue, regex=True, inplace=True)

In [26]:
df

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
1,China,1439323776,0.39,5540090,153,9388211,-348399.0,1.7,38,61,18.47
2,India,1380004385,0.99,13586631,464,2973190,-532687.0,2.2,28,35,17.70
3,United States,331002651,0.59,1937734,36,9147420,954806.0,1.8,38,83,4.25
4,Indonesia,273523615,1.07,2898047,151,1811570,-98955.0,2.3,30,56,3.51
5,Pakistan,220892340,2.00,4327022,287,770880,-233379.0,3.6,23,35,2.83
...,...,...,...,...,...,...,...,...,...,...,...
231,Montserrat,4992,0.06,3,50,100,0.0,0,0,10,0.00
232,Falkland Islands,3480,3.05,103,0,12170,0.0,0,0,66,0.00
233,Niue,1626,0.68,11,6,260,0.0,0,0,46,0.00
234,Tokelau,1357,1.27,17,136,10,0.0,0,0,0,0.00
235,Vatican State,801,0.25,2,2003,0,0.0,0,0,0,0.00

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, 1 to 235
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country (or dependency)  235 non-null    object
 1   Population(2020)         235 non-null    int64
 2   YearlyChange             235 non-null    object
 3   NetChange                235 non-null    int64
 4   Density(P/Km²)           235 non-null    int64
 5   Land Area(Km²)           235 non-null    int64
 6   Migrants(net)            235 non-null    float64
 7   Fert.Rate                235 non-null    object
 8   Med.Age                  235 non-null    object
 9   UrbanPop %               235 non-null    object
 10  WorldShare               235 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 22.0+ KB

In [28]:
df = df.convert_dtypes()

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, 1 to 235
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country (or dependency)  235 non-null    string
 1   Population(2020)         235 non-null    Int64
 2   YearlyChange             235 non-null    string
 3   NetChange                235 non-null    Int64
 4   Density(P/Km²)           235 non-null    Int64
 5   Land Area(Km²)           235 non-null    Int64
 6   Migrants(net)            235 non-null    Int64
 7   Fert.Rate                235 non-null    object
 8   Med.Age                  235 non-null    object
 9   UrbanPop %               235 non-null    object
 10  WorldShare               235 non-null    string
dtypes: Int64(5), object(3), string(3)
memory usage: 23.2+ KB

In [30]:
df["YearlyChange"] = df["YearlyChange"].astype(float)
df["Fert.Rate"] = df["Fert.Rate"].astype(float)
df["Med.Age"] = df["Med.Age"].astype(int)
df["UrbanPop %"] = df["UrbanPop %"].astype(int)
df["WorldShare"] = df["WorldShare"].astype(float)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, 1 to 235
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country (or dependency)  235 non-null    string
 1   Population(2020)         235 non-null    Int64
 2   YearlyChange             235 non-null    float64
 3   NetChange                235 non-null    Int64
 4   Density(P/Km²)           235 non-null    Int64
 5   Land Area(Km²)           235 non-null    Int64
 6   Migrants(net)            235 non-null    Int64
 7   Fert.Rate                235 non-null    float64
 8   Med.Age                  235 non-null    int32
 9   UrbanPop %               235 non-null    int32
 10  WorldShare               235 non-null    float64
dtypes: Int64(5), float64(3), int32(2), string(1)
memory usage: 21.3 KB

In [32]:
df["Med.Age"].mean()

26.19148936170213

In [35]:
df.to_csv("Data/PopFixed.csv")